* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-image: url("./assets/image-bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  padding: 20px;
  justify-content: center;
}

h1 {
  font-weight: bold;
  color: #fff;
  font-family: "Russo One", sans-serif;
}

#blocklyDiv {
  height: 500px;
  width: 80%;
  border-style: solid;
  border-color: #e5e7e9;
  margin: 0 auto;
}

#executar-movimentos {
  background-color: #fb9b4d;
  padding: 15px;
  border-radius: 22px;
  border: none;
  font-weight: bold;
  margin-top: 20px;

  /* Here we declare our inline animation */
  animation: rotate 1s ease-in-out infinite;
}

/* Here we define our animation with the name "rotate" */
@keyframes rotate {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 478px) {
  #blocklyDiv {
    width: 95%;
  }

  h1 {
    text-align: center;
  }
}
